
@{
    ViewBag.Title = "Contact";
}
<style>
    div.jumbotron {
        background-color: var(--dark-color);
        border-radius:25px;
        width:100%;
        font-family: Broadway;
        text-align: center;
    }
</style>



<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">CONTACT US</h1>
    </div>

</div>

<div class="Contact-main">

    <h2 class="h2">GET IN TOUCH</h2>
    <div class="form-group">
        <div class="col-sm-6">
            <label for="inputName">First & Last Name *</label>
            <input type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label for="inputEmail">Email Address *</label>
                <input type="email" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label for="inputSubject">Subject *</label>
                <input type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label for="inputMessage">Message *</label>
                <textarea class="form-control" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-block btn-outline-light">Submit</button>
            </div>
        </div>
        <div class="Contact-donate">
            <h5>DONATE</h5>
            <p>We've got a Patreon account! Help support live theater in Portland, OR by becoming a Patron today!</p>
            <button type="button" class="btn btn-sm btn-outline-light">Donate</button>
        </div>
        <div class="Contact-volunteer">
            <h5>VOLUNTEER</h5>
            <p>If you're interested in volunteering with our upcoming productions please click below for more information about becoming a volunteer.</p>
            <button type="button" class="btn btn-sm btn-outline-light">Volunteer</button>
        </div>


    </div>

</div>
